<!DOCTYPE html>
<html>

	<head>
		<title>Ceres</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>

	<body>

		<header>
			<h1>
			Ceres
			</h1>
		</header>

		<div id="content">
			
			<div class="prevision">
				<h2>
					Prévisions météo
				</h2>

				<div class="temperature">
					<h3>
						Température (en °C)
					</h3>

					<p class="time">
						Heure <br/> <br/> 00H <br/> 03H <br/> 06H <br/> 09H <br/> 12H <br/> 15H <br/> 18H <br/> 21H <br/>
					</p>

					<p class="demain">
						Demain
					</p>

					<p class="ademain">
						Après demain
					</p>
				</div>

				<div class="pluie">
					<h3>
						Pluie (en mm)
					</h3>
				</div>

			</div>

			<div class="temps">
				<h2>
					Temps avant arrosage:
				</h2>
			</div>

		</div>

		<div id="bloc">

			<div class="capteurs">
				<h2>
					Capteurs
				</h2>
			</div>

			<div class="electrovanne">
				<h2>
					Electrovanne
				</h2>

				<ul>
					<li class="btn">
						Activer
					</li>
					<li class="btn">
						Désactiver
					</li>
				</ul>
			</div>

		</div>

		<footer>
			
		</footer>

	</body>

</html>