<!DOCTYPE html>
<html>

	<head>
		<title>Ceres</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<script type="text/javascript" src="script/script.js"></script>
	</head>

	<body>
		<span id="time"></span>
		<video id="background" autoplay loop muted>
			<source src="files/video/background.webm" type="video/webm">
		</video>

		<header class="transparent">
			<img src="files/images/logo.png" class="logo">
			<div class="head">
				<h1>CERES</h1>

			<div id="topbar">
				<a href="accueil.html"><button type="button">Accueil</button></a>
				<a href="capteurs.html"><button type="button">Capteurs</button></a>
				<a href="config.html"><button type="button">Configuration</button></a>
				<a href="contact.html"><button type="button">Contact</button></a>
				<a href="view.html"><button type="button">View</button></a>
			</div>
			</div>

		</header>

		<div id="content" class="transparent">

			<div class="prevision">
				<h2>Prévisions météo</h2>
				<div>
					<table width="100%" id="temperature">
						<tr>
							<th colspan="4">Température (en °C)</th>
						</tr>

						<tr>
							<th>Heure</th>
							<th>Aujourd'hui</th>
							<th>Demain</th>
							<th>Après demain</th>
						</tr>

						<!--<tr>
							<td>00H</td>
							<td>15</td>
							<td>14</td>
							<td>12</td>

						</tr>

						<tr>
							<td>03H</td>
							<td>16</td>
							<td>14</td>
							<td>13</td>

						</tr>

						<tr>
							<td>06H</td>
							<td>16</td>
							<td>15</td>
							<td>13</td>

						</tr>

						<tr>
							<td>09H</td>
							<td>19</td>
							<td>17</td>
							<td>17</td>

						</tr>

						<tr>
							<td>12H</td>
							<td>23</td>
							<td>20</td>
							<td>21</td>

						</tr>

						<tr>
							<td>15H</td>
							<td>26</td>
							<td>28</td>
							<td>25</td>

						</tr>

						<tr>
							<td>18H</td>
							<td>25</td>
							<td>27</td>
							<td>24</td>

						</tr>

						<tr>
							<td>21H</td>
							<td>18</td>
							<td>19</td>
							<td>19</td>

						</tr>-->

					</table>
				</div>

				<div>
					<table width="100%" id="pluie">
						<tr>
							<th colspan="4">Pluie (en mm)</th>
						</tr>

						<tr>
							<th>Heure</th>
							<th>Aujourd'hui</th>
							<th>Demain</th>
							<th>Après demain</th>
						</tr>

						<!--<tr>
							<td>00H</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>

						</tr>

						<tr>
							<td>03H</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>

						</tr>

						<tr>
							<td>06H</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>

						</tr>

						<tr>
							<td>09H</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>

						</tr>

						<tr>
							<td>12H</td>
							<td>0</td>
							<td>3</td>
							<td>0</td>

						</tr>

						<tr>
							<td>15H</td>
							<td>0</td>
							<td>5</td>
							<td>0</td>

						</tr>

						<tr>
							<td>18H</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>

						</tr>

						<tr>
							<td>21H</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>

						</tr>
					-->
					</table>
				</div>

			</div>

			<div class="temps"  class="transparent">
				<h2>
					Temps avant arrosage:
				</h2>
			</div>

		</div>

		<div id="bloc" class="transparent">

			<div class="capteurs">
				<h2>
					Capteurs
				</h2>
			</div>

			<div class="electrovanne">
				<h2>
					Electrovanne
				</h2>


				<button type="button">
					Activer
				</button>
				<button type="button">
					Désactiver
				</button>
			</div>

		</div>

		<footer>

		</footer>

	</body>

</html>
