<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Configuration</title>
  </head>
  <body>
    <header>
      <h1>CERES</h1>
    </header>
    <div id="title">
      <h1 class="title">Configuration</h1>
    </div>

    <form method="POST">
      <p>Temps avant arrosage : <input type="text" name="tempsarrosage" autocomplete="off" placeholder="Default: 2 days"></p>
      <p>Quantité avant arrosage : <input type="text" name="quantitearrosage" autocomplete="off" placeholder="Default: 10mm"></p>
      <button>Send</button>
    </form>
  </body>
</html>
